---
:development: &defaults
  :adapter:    <%= @database[:adapter] %>
  :database:   <%= @site_name %>
  :user:       <%= @database[:user] %>
  :password:   <%= @database[:password] %>
# :host:       localhost

:test:
  <<:         *defaults
  :database:   <%= @site_name %>_test

:production:
  <<:         *defaults
  :database:  <%= @site_name %>
  :user:      <%= @site_name %>
  :password:   <%= @database[:password] %>

:rake:
  <<:         *defaults


