
site_domain '<%= @domain %>'
site_id '<%= @site_name %>'


# change this to alter the content-type encoding sent in public HTTP headers
# TODO: enable this setting on a per-page, per-format basis
default_charset "utf-8"

