.bundle
.irb_history
*.rbc
.rake_tasks
test/fixtures/example_application/public/media/*
test/fixtures/media/*
test/fixtures/permissions/media/*
test/fixtures/revisions/*
test/fixtures/example_application/log/*
# cached templates
*.html.rb
*.pdf.rb
*.epub.rb
tmp
todo.taskpaper

