.bundle
.irb_history
*.rbc
.rake_tasks
test/fixtures/example_application/public/media/*
test/fixtures/media/*
test/fixtures/revisions/*
test/fixtures/example_application/log/*
test/fixtures/public/templates/site_page/*.rb
tmp
