source :rubygems

## choose your poison:
# gem 'pg', '~> 0.9.0'
gem 'mysql2', '~> 0.2'

# Deploy with Capistrano
# gem 'capistrano'


## TODO: replace this path based gem with a version once the gem is live
#gem 'spontaneous', '<%= Spontaneous::VERSION %>'
gem 'spontaneous', :path => "/Users/garry/Dropbox/Development/spontaneous3/working"

# Choose a Rack handler
gem 'thin'
# gem 'mongrel'

# group :development, :test do
#   gem 'webrat'
# end

