<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<%= in_progress.render %>
	<%= completed.render %>
	<%= archived.render %>
	--------
</body>
</html>
