<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h3>In Progress</h3>
	<%= in_progress.render %>
	
	<h3>Completed</h3>
	<%= completed.render %>
	
	<h3>Archived</h3>
	<%= archived.render %>
	
</body>
</html>
