$dialogue-title-height: 32px;

#dialogue-wrap {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: auto;
	z-index: 1001;
	$dialogue-frame-width: 2px;
	#dialogue-outer {
		@include rounded;
		@include display-box;
		@include box-orient($direction: vertical);
		@extend .shadow;
		background-color: $chrome-bg;
		position: absolute;
		top: 50px;
		bottom: 50px;
		left: 25%;
		right: 25%;

		#dialogue-title {
			@include box-sizing;
			@extend .controls-gradient;
			@include header;
			@include rounded-top;
			height: $dialogue-title-height;
			color: #fff;
			padding: 0 $unit 0 ($unit+$dialogue-frame-width);
			padding-top: 6px;
		}
		#dialogue-body {
			// @extend .box-flexible;
			position: absolute;
			top: $dialogue-title-height;
			right: 0;
			left: 0;
			bottom: $dialogue-title-height;
			// min-height: 100px;
			overflow: auto;
			margin: 0 $dialogue-frame-width;
			background-color: #fff;
			// max-height: 70%;
			// margin-top: 32px;
			// margin-bottom: 32px;
		}
		#dialogue-control-wrap {
			position: absolute;
			bottom: 0;
			width: 100%;
			// z-index: 1002;

			#dialogue-controls {
				position: relative;
				// display: block;
				// height: 46px;
				.dialogue-actions {
					@include display-box;
					.spacer {
						@include box-flex;
					}
					.button {
						display: block;
						width: 128px;
						margin: $unit 0;
						& + .button {
							margin-left: $unit;
						}
					}
					.button:last-child {
						margin-right: $unit;
					}
					.cancel {
						@include button-color(#6b6b6b);
					}
					.save {
						background-color: $action;
						float: right;
					}
					.disabled, .disabled:hover {
						background-color: #333333 !important;
						color: #6b6b6b !important;
					}
				}
			}
		}
	}
}

.dialogue-wrapper {
	@include rounded;
	@include box-sizing;
	position: relative;
	// top: 32px;
	background-color: #cccccc;
	width: $dialogue-width;
	// margin: 32px auto;
}

#create-home-dialogue {
	.instructions {
		@extend .interface;
		margin: 0;
		background-color: #f2f2f2;
		color: #666;
		padding: $unit/2 $unit;
		margin-bottom: $unit;
		.button {
			padding-left: 2px;
			padding-right: 2px;
		}
	}

	.type {
		@include rounded;
		@include display-box;
		cursor: pointer;
		padding: $unit/2 $unit;
		background-color: #fbfbfb;
		border: solid 1px #f2f2f2;
		margin: $unit;
		margin-top: 0;
		&:hover {
			background-color: #666;
			color: #fff;
		}
		&.selected {
			background-color: $action;
			color: #fff;
		}
	}
}


#publishing-dialogue {
	min-height: 200px;
	max-height: 90%;
	position: relative;
	@include display-box;
	@include box-orient(horizontal);
	.change-list {
		@include box-flex;
		width: 50%;
		&#changes {
			border-right: solid 2px #000;
		}
		.actions {
			@extend .interface;
			@include display-box;
			@include box-orient(horizontal);
			@include box-align(center);
			color: #666;
			background-color: #f2f2f2;
			padding: $unit/2 $unit;

			div {
				@include box-flex;
			}
			.button {
				padding-left: $unit;
				padding-right: $unit;
			}
		}
		.change-sets {
			overflow: auto;
			.instructions {
				font-family: $headline-font-family;
				color: #999;
				text-align: center;
				position: relative;
				padding-top: 50px;
			}
		}
	}
	// background-color: #fff;
	// width: 600px;
	// @extend .dialogue-wrapper;
	// padding-top: $container-padding / 2;
	// padding-bottom: $container-padding / 2;
	.publish-up-to-date {
		@include rounded;
		@extend shadow;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 60px 200px 60px 200px;
		text-align: center;
		background-color: #333;
		opacity: 0.95;
		font-family: $headline-font-family;
		font-size: 24px;
		padding-top: 24px;
		color: #fff;
		// margin: $container-padding / 2;
		// margin-top: 0;
		// .publish-all {
			// 	@include button(#666);
			// 	@extend .interface;
			// 	width: 128px;
			// 	float: right;
			// 	text-align: left;
			// 	// background-color: #666666;
			// 	input {
				// 		margin: 1px 8px 0 8px;
				// 		padding: 0;
				// 		vertical-align: top;
				// 		position: relative;
			// 	}
		// }
		// .publish-all.checked {
			// 	background-color: $action;
		// }
	}
	.change-set {
		cursor: pointer;
		padding: $unit $unit 0 $unit;
		.inner {
			@include rounded;
			@include display-box;
			border: solid 3px transparent;
			background-color: #fbfbfb;
			border: solid 1px #f2f2f2;
		}
		.pages {
			@include box-flex;
			.title {
				padding: $unit/2 $unit;
				color: #333;
				& + .title {
					border-top: solid 1px #f2f2f2;
				}
			}
			.url {
				font-size: 10px;
				color: #666;
			}
		}
		.add {
			@include rounded-right;
			@include display-box;
			@include box-pack(center);
			@include box-align(center);
			width: $container-padding;
			background-color: #f2f2f2;
			position: relative;
			color: #999;
			span {
				@extend .interface;
				font-size: 40px;
				position: relative;
				top: -5px;
			}
			&:hover {
				background-color: $action;
				color: #fff;
			}
		}
		.titles a {
			display: block;
			margin-bottom: 2px;
			span {
				font-size: 11px;
				margin-left: 1em;
			}
		}
	}
	.change-set:hover {
		border-color: $action;
	}
	.change-set.selected {
	}
}

