@font-face {
    font-family: 'FontAwesome';
    src:  url('/@spontaneous/static/font/fontawesome-webfont-4f0022f25672c7f501c339cbf98d9117.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext);
