@font-face {
    font-family: 'FontAwesome';
    src:  url('/@spontaneous/static/font/fontawesome-webfont-5c5c21100a346972a82c34c5e96ffcfe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext);
