<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>{{ title }} ­ <%= @domain %></title>
</head>
<body>

  {% block :content %}
    <h2>Welcome to <%= @domain %></h2>
  {% endblock :content %}
</body>
</html>
